md-select-menu:not(.md-overflow) md-content {
  padding:0;
}

md-select-menu.md-default-theme md-content,
md-select-menu md-content {
  background-color: rgba(51, 51, 51, 0.95);
}

md-select-menu.md-default-theme md-content md-option,
md-select-menu md-content md-option {
  color:#fff;
}

md-select-menu md-content md-option:not([disabled]):focus,
md-select-menu.md-default-theme md-content md-option:not([disabled]):hover,
md-select-menu md-content md-option:not([disabled]):hover {
  // TODO:  Figure out how to do this without !important
  background-color: #009fc2 !important;
}

md-select-menu.md-default-theme md-content md-option[selected],
md-select-menu md-content md-option[selected] {
  // TODO: Discuss this state with Brittany
}
