//## Overwrite the AM@1.1.1 styles -- explicit height was removed
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  height: 225.5px;
  max-height: 225.5px;
}

.md-autocomplete-suggestions-container.md-default-theme,
.md-autocomplete-suggestions-container {
  background-color: rgba(51, 51, 51, 0.95) !important;

  .ember-power-select-option {
    color:#fff;

    .highlight {
      color: #fff;
      font-weight: bold;
    }

    &.selected {
      background-color: #009fc2;
    }
  }
}
