<label for={{inputElementId}}>{{placeholder}}</label>
{{input
class="md-input"
type="search"
focus-in="focusIn"
key-down="inputKeyDown"
key-up="inputKeyUp"
focus-out="focusOut"
id=inputElementId
value=value
placeholder=placeholder
disabled=disabled
required=required}}