<div class="paper-radio-container">
  <div class="paper-radio-off"></div>
  <div {{bind-attr class="checked:fill :paper-radio-on"}}></div>
  {{paper-ripple recenteringTouch=true
      lastDownEvent=lastDownEvent lastUpEvent=lastUpEvent classNames="circle"}}
</div>
{{#if template}}
  <div class="paper-radio-label">
    {{yield}}
  </div>
{{/if}}