{{#paper-button iconButton=true noink=true class="md-datepicker-button"}}
  {{paper-icon "today" class="md-datepicker-calendar-icon"}}
{{/paper-button}}
<div class="md-datepicker-input-container">
  <input class="md-datepicker-input" aria-haspopup="true" placeholder="Enter date" size="3">
  {{#paper-button iconButton=true noink=true class="md-datepicker-triangle-button" aria-label="Open calendar"}}
    <div class="md-datepicker-expand-triangle ng-scope"></div>
  {{/paper-button}}
</div>
