{{#ember-wormhole to="paper-wormhole"}}
  {{paper-backdrop
    locked-open=isLockedOpen
    opaque=true
    class="md-dialog-backdrop"
  }}
  <div class="md-dialog-container" onclick={{action "outsideClicked"}}>
    <md-dialog class="md-default-theme md-transition-in" onclick={{action "dialogClicked"}}>
      {{yield}}
    </md-dialog>
  </div>
{{/ember-wormhole}}
