<label for="{{inputElementId}}">{{label}}</label>
{{input id=inputElementId type=type value=value focus-in="focusIn" focus-out="focusOut" insert-newline="insertNewline" escape-press="escapePress" key-press="keyPress" key-up="keyUp" key-down="keyDown" disabled=disabled required=required}}