{{#ember-wormhole to=destination}}
  {{paper-backdrop
    locked-open=isLockedOpen
    opaque=true
    class="md-dialog-backdrop"
  }}
  <div class="md-dialog-container" onclick={{action "outsideClicked"}}>
    {{#paper-dialog-inner parent=parent openFrom=openFrom closeTo=closeTo}}
      {{yield}}
    {{/paper-dialog-inner}}
  </div>
{{/ember-wormhole}}
