$theme-name: "default" !default;

$primary: "blue" !default;
$accent: "light-blue" !default; // was "pink"
$warn: "red" !default;
$link: "blue" !default;

$dark: false !default;

$foreground: "foreground-dark" !default;
$background: "background-light" !default;

$base-color: rgba(0, 0, 0, 0.87) !default;
