$theme-name: "default" !default;

$primary: "indigo" !default;
$accent: "pink" !default;
$warn: "red" !default;
$link: "light-blue" !default;

$dark: false !default;

$foreground: "foreground-dark" !default;
$background: "background-light" !default;

$base-color: rgba(0, 0, 0, 0.87) !default;
