$sidenav-default-width: 254px !default;
$sidenav-min-space: 56px !default;
$locked-breakpoint: 850px;

// NOT PORTED FROM ANGULAR MATERIAL

md-sidenav {
  width: $sidenav-default-width;
  min-width: $sidenav-default-width;
  max-width: $sidenav-default-width;

  z-index: $z-index-sidenav;
  background-color: white;
  overflow: auto;
  flex-direction: column;

  position:fixed;
  top:0;
  bottom:0;

  transition-duration: $swift-ease-out-duration;
  transition-timing-function: $swift-ease-out-timing-function;

  &.md-sidenav-left{
    transform: translate3d(-100%, 0, 0);

    @media screen and (min-width: $locked-breakpoint) {
      transform: translate3d(0, 0, 0);
    }
  }

  &.md-sidenav-right{
    transform: translate3d(0, 0, 0);

    @media screen and (min-width: $locked-breakpoint) {
      transform: translate3d(0, 0, 0);
    }
  }

  //revert to normal flex layout when locked
  @media screen and (min-width: $locked-breakpoint) {
    display: flex;
    position: relative;
  }

}

md-sidenav-toggle {
  &:hover {
    cursor: pointer;
  }

  //hide toggle when locked
  @media screen and (min-width: $locked-breakpoint) {
    display: none;
  }
}

md-nav-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &.sidenav-expanded{
    md-sidenav{
      &.md-sidenav-left{
        transform: translate3d(0, 0, 0);
      }

      &.md-sidenav-right{
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}

//hide backdrop if locked
md-nav-container{
  &>md-backdrop {
    @media screen and (min-width: $locked-breakpoint) {
      visibility: hidden;
    }
  }
}
