$select-option-height: 48px;
$select-option-padding: 16px;
$select-container-padding: 16px;
$select-container-transition-duration: 350ms;

$select-max-visible-options: 5;

.paper-select {
  display: inline-block;
  margin-top: 0.35em;
  margin-bottom: 0.80em;
  margin-left: 2px;
  margin-right: 2px;

  &:focus {
    outline: none;
  }
  &[disabled]:hover {
    cursor: default;
  }

  &:not([disabled]) {
    &:hover {
      cursor: pointer
    }
    &.ng-invalid.ng-dirty {
      .paper-menu-toggle {
        padding-bottom: 7px;
        border-bottom: 2px solid;
      }
    }
    &:focus {
      .paper-menu-toggle {
        border-bottom: 2px solid;
        padding-bottom: $baseline-grid - 1;
      }
    }
  }
}

.paper-menu-toggle {
  display: flex;
  align-items: center;
  padding-top: (2 * $baseline-grid) + 1;
  padding-bottom: $baseline-grid;
  border-bottom: 1px solid;
  position: relative;
  box-sizing: border-box;
  min-width: 8 * $baseline-grid;

  *:first-child {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2rem;
    max-width: calc(100% - 2*#{$baseline-grid});
    font-size: rem(1.6);
  }

  .md-select-icon {
    align-items: flex-end;
    text-align: end;
    width: 3 * $baseline-grid;
    margin: 0 .5 * $baseline-grid;
  }

  .md-select-icon:after {
    display: block;
    content: '\25BC';
    position: relative;
    top: 2px;
    speak: none;
    transform: scaleY(0.6) scaleX(1);
  }
}

.paper-menu {
  display: flex;
  flex-direction: column;
  &.md-reverse {
    flex-direction: column-reverse;
  }

  &:not(.md-overflow) {
      padding-top: $baseline-grid;
      padding-bottom: $baseline-grid;
  }

  box-shadow: $whiteframe-shadow-z1;
  max-height: ($select-option-height * $select-max-visible-options) + 2 * $baseline-grid;
  overflow-y: hidden;

  transform: scale(1.0);

  md-content {
    min-width: 136px;
    max-height: ($select-option-height * $select-max-visible-options) + 2 * $baseline-grid;
    overflow-y: auto;
  }
}

.paper-menu-item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;

  &:focus {
    outline: none;
  }

  .md-text {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: rem(1.6);
  }
  padding: 0 $select-option-padding 0 $select-option-padding;
  height: $select-option-height;
}

//THEME
$select-primary-color-palette: $primary-color-palette !default;
$select-primary-color: map-get($select-primary-color-palette, '400') !default;

$select-warn-color-palette: $warn-color-palette !default;
$select-warn-color: map-get($select-warn-color-palette, '400') !default;

$foreground-1: rgba(0,0,0,0.87);
$foreground-2: rgba(0,0,0,0.54);
$foreground-3: rgba(0,0,0,0.26);
$foreground-4: rgba(0,0,0,0.12);

md-select.md-default-theme {
  &.ng-invalid.ng-dirty {
    .md-select-label {
      color: $select-warn-color !important;
      border-bottom-color: $select-warn-color !important;
    }
  }
  &:not([disabled]):focus {
    .paper-menu-toggle {
      border-bottom-color: $select-primary-color;
      color: $foreground-1;
      &.md-placeholder {
        color: $foreground-1;
      }
    }
    &.md-warn .paper-menu-toggle {
      border-bottom-color: $select-warn-color;
    }
  }
  &[disabled] {
    .paper-menu-toggle {
      color: $foreground-3;
      &.md-placeholder {
        color: $foreground-3;
      }
    }
  }
  .paper-menu-toggle {
    &.md-placeholder {
      color: $foreground-2;
    }
    border-bottom-color: $foreground-4;
  }
}

md-select.md-default-theme {

  md-optgroup {
    color: $foreground-2;
    md-menu-item {
      color: $foreground-1;
    }
  }
  md-menu-item[selected] {
    color: map-get($select-primary-color-palette, '500');
    &:focus {
      color: map-get($select-primary-color-palette, '600');
    }
  }
  md-menu-item:focus:not([selected]) {
    background: map-get($background-color-palette, '200');
  }

}
