/**
 * Backports from versions of angular-material-source that are later than the
 * version used by ember-paper.
 */

// For paper-input, backports the required asterisk in the element's label.
md-input-container label.md-required:not(._md-container-ignore)::after {
  content: ' *';
  font-size: 13px;
  vertical-align: top;
}
