_auth = Z2l0aHViOkFQMkM2cXhwY1NaVDlYSlFRUDZNTlAxd0NwQ1hrV0dzbTFwdHNBRzdHSnJiY1dtcXFSUHByZXdLV0dTRGdVRW5iNld1bkdMSENTaE1FajE5MkI=
email = github@savogroup.com
always-auth = true
registry = https://savoartifactory.jfrog.io/savoartifactory/api/npm/npm-remote/
