{{page-toolbar pageTitle="Sidenav" isDemo=true isWIP=true}}

{{#doc-content}}
  <h2>Demo</h2>
  <p>Try to resize this webpage.</p>

  <h2>Sidenav attributes</h2>

  <p>
    <strong>locked-open:</strong> You can chose when the sidenav should stay open, based on the screen size.<br>
    Available sizes are: <code>sm, gt-sm, md, gt-md, lg, gt-lg</code>
  </p>

  <p>
    <strong>closeOnClick:</strong> An override for the sidenav closing if you click on the sidebar itself. Mainly
    for use-cases where you have forms or something similar in the sidenav.<br>
    Defaults to <code>true</code>.
  </p>

  <p>
    <strong>Note:</strong> The following Sidenav example contains a <code>transition-to</code> helper via the <a href="https://github.com/peec/ember-transition-helper">ember-transition-helper</a> addon, which is not installed by default.
  </p>

  <h3>Template</h3>
  {{code-snippet name="sidenav.hbs"}}

{{/doc-content}}
