/* TODO separate into different files */

/* GLOBAL */
*, *:before, *:after {
  box-sizing: border-box;
}

/* PAPER TOGGLE BUTTON */
/*.paper-toggle {
  display: inline-block;
}

.paper-toggle:focus {
  outline: none;
}

.paper-toggle .paper-toggle-container {
  position: relative;
  width: 64px;
  height: 16px;
}

.paper-toggle .paper-toggle-bar {
  position: absolute;
  top: 8px;
  left: 16px;
  height: 1px;
  width: 32px;
  background-color: #5a5a5a;
  pointer-events: none;
}

.paper-toggle .paper-toggle-bar.checked {
  background-color: #0f9d58;
}

.paper-toggle .paper-radio {
  position: absolute;
  left: 0;
  padding: 8px 48px 8px 0;
  margin: -8px -48px -8px 0;
  transition: -webkit-transform linear .08s;
  transition: transform linear .08s;
  touch-action:pan-y;
}

.paper-toggle .paper-radio.checked {
  -webkit-transform: translate(48px, 0);
  transform: translate(48px, 0);
  padding: 8px 0 8px 48px;
  margin: -8px 0 -8px -48px;
}

.paper-toggle .paper-radio.dragging {
  -webkit-transition: none;
  transition: none;
}

.paper-toggle[disabled] {
  pointer-events: none;
}

.paper-toggle .paper-radio-container{
  display:block;
}
*/
/* SIDE NAV */
.sidenav {
  display: block;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(-240px);
      -ms-transform: translateX(-240px);
          transform: translateX(-240px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  color: #424242;
  z-index: 4;
}
.sidenav .logo {
  padding: 18px 24px 18px 24px;
  font-size: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.sidenav.visible {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.sidenav.animatable {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav ul li > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  padding: 1.6em 1.6em;
}
.sidenav ul li a:hover {
  background-color: #e0e0e0;
}

.nav-button {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  left: auto;
  right: 0px;
  top: 0;
  border: 0;
  overflow: hidden;
  font-size: 24px;
  z-index: 2;
  line-height: 48px;
  text-align: center;
}

.sidenav-modal-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  will-change: opacity;
  opacity: 0.000001;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
}

.sidenav-modal-bg.animatable {
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-modal-bg.visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.sidenav-content, .sidenav-static-content {
  padding: 16px 24px;
}

@media screen and (min-width: 850px) {
  .nav-button {
    display: none;
  }

  .sidenav-modal-bg.visible {
    opacity: 0.1;
    pointer-events: none;
  }
}
.sidenav-static {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidenav-static .sidenav-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

@media screen and (min-width: 850px) {
  .sidenav-static {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }

  .sidenav ul li a {
    padding: 1.1em 1.6em;
  }

  .sidenav-static.transparent {
    background: none;
    box-shadow: none;
    border-right: none;
  }

  .sidenav-static.transparent h1 {
    color: #fafafa;
  }

  .sidenav-static.transparent .sidenav-nav ul li a {
    color: #eeeeee;
  }
  .sidenav-static.transparent .sidenav-nav ul li a:hover {
    background-color: rgba(97, 97, 97, 0.6);
  }

  .sidenav-static-content {
    padding: 16px 264px;
  }
}

/* TYPOGRAPHY */
html, body {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em;
}

h1 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

h2 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

h6 {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 0 0 16px 0;
}

a {
  font-weight: bold;
}

blockquote {
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.08em;
}
blockquote:before {
  content: '“';
  opacity: 0.54;
}
blockquote:after {
  content: '”';
  opacity: 0.54;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

/* ROBOTO DRAFT FONT */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwXJuJo8UJJfpGKt7pXjBv4s.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-Vwf79_ZuUxCigM2DespTnFaw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(https://fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTfgeOulFbQKHxPa89BaxZzA0.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTfoo3ZslTYfJv0R05CazkwN8.woff) format('woff');
}

/* LISTS */
.paper-list-inline {
  list-style  : none;
  margin-left : -5px;
  padding-left: 0;
}

.paper-list-inline > li {
  display      : inline-block;
  padding-left : 5px;
  padding-right: 5px;
}
