{{! BEGIN-SNIPPET autocomplete.example-item }}
{{! app/templates/components/example-item.hbs }}
<span class="item-title">
  {{paper-icon "star"}}
  <span>{{paper-autocomplete-highlight searchText=searchText label=item}} (index {{index}} )</span>
</span>
{{! END-SNIPPET }}
