<label for={{inputElementId}} class={{if required "md-required"}}>
  {{label}}
  {{#if tooltip}}
    {{#paper-icon icon}}
      {{#paper-tooltip position=tooltipPosition}}
        {{tooltip}}
      {{/paper-tooltip}}
    {{/paper-icon}}
  {{/if}}
</label>