@import 'ember-paper';

$flexbox-shadow: inset 0px 0px 5px 0 rgba(0,0,0,0.16);
$flexbox-color1: paper-color('deep-purple', '200');
$flexbox-color2: paper-color('orange', '400');
$flexbox-color3: paper-color('blue', '300');
$flexbox-color4: paper-color('teal', '200');
$flexbox-color5: paper-color('pink', '300');
$flexbox-color6: paper-color('lime', '300');
$flexbox-color7: paper-color('amber', '300');

@import 'demo';


pre.code-block {
  background-color: rgba(0,0,0,.06) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.content-section {
  padding: 64px;
}

.hero {
  height: 300px;
  padding: 64px;
  align-items: center;
  align-content: center;
  display: flex;

  &.hero--indigo {
    background-color: paper-color('indigo', '200');
    color: #ffffff;
  }
  &.hero--orange {
    background-color: paper-color('orange', '200');
    color: #ffffff;
  }
}

.toc {
  position: fixed;

  .toc-title {
    margin-left: 8px;
  }

  .toc-list {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
  }

  .toc-list-item {
    width: 100%;
    height: auto;
    min-height: 32px;
    border-left: 2px solid rgba(0, 0, 0, 0.12);

    a {
      padding: 8px 0 8px 16px;
      line-height: 1.5;
      font-weight: 400;
      text-decoration: none;
      color: #616161;
    }
  }

  .toc-list-item--selected {
    border-left: 2px solid #212121;
    opacity: 1;
    font-weight: 700;
    letter-spacing: 0;

    a {
      color: #212121;
    }
  }
}

.introduction-example {
  height: 350px;

  .box-one {
    background-color: $flexbox-color1;
  }

  .box-two-one {
    background-color: $flexbox-color2;
  }
  .box-two-two {
    background-color: $flexbox-color3;
  }
  .box-two-three {
    background-color: $flexbox-color4;
  }
  .box-three {
    background-color: $flexbox-color5;
  }
}

.one {
  background-color: $flexbox-color1;
}
.two {
  background-color: $flexbox-color2;
}
.three {
  background-color: $flexbox-color3;
}
