$primary: 'deep-orange';
$warn: 'brown';
$accent: 'light-blue';

@import 'ember-paper';
@import 'demo';

/**
 * Needed styles to set correct widths.
 */

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

body.ember-application {
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > div.ember-view {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
