@import 'ember-paper';
@import 'demo';

/**
 * Needed styles to set correct widths.
 */

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

body > div.ember-view:first-of-type {
  width: 100%;
  height: 100%;
}

.site-nav-container {
  width: 100%;
  height: 100%;
}
