:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-width: 0;
  border-radius: 0;
}

:not(pre) > code[class*="language-"] {
  padding: 2px 6px;
}

.token.operator {
  background: transparent;
}

pre {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}
