{{page-toolbar pageTitle="Introduction"}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
<div class="doc-content">

  <h2 class="md-headline" style="margin-top: 24px;">Welcome to Ember Paper Default Dashboard.</h2>
  <p>You should be up and running with a fully responsive dashboard. Good Luck!</p>
</div>
{{/paper-content}}
