<div class="md-switch-bar"></div>
<div class="_md-container">
  <div class="_md-bar"></div>
  <div class="_md-thumb-container" style={{thumbContainerStyle}}>
    <div class="_md-thumb">
    </div>
  </div>
</div>
{{#if hasBlock}}
  <div class="_md-label">
    {{yield}}
  </div>
{{else}}
  <div class="_md-label">
    {{label}}
  </div>
{{/if}}
