<div class="md-slider-wrapper">
  <div class="md-slider-content">
    <div class="md-track-container">
      <div class="md-track"></div>
      <div class="md-track md-track-fill" style={{activeTrackStyle}}></div>
      <div class="md-track-ticks"></div>
    </div>
    <div class="md-thumb-container" style={{thumbContainerStyle}}>
      <div class="md-thumb" style="touch-action: none"></div>
      <div class="md-focus-thumb"></div>
      <div class="md-focus-ring"></div>
      <div class="md-sign">
        <span class="md-thumb-text">{{value}}</span>
      </div>
      <div class="md-disabled-thumb"></div>
    </div>
  </div>
</div>
