<div class="_md-container {{queryModeClass}}">
  <div class="_md-dashed"></div>
  <div class="_md-bar _md-bar1" style={{bar1Style}}></div>
  <div class="_md-bar _md-bar2" style={{bar2Style}}></div>
</div>
