{{!--
{{yield (hash
  dropdown=(readonly publicAPI)
  isOpen=publicAPI.isOpen
  disabled=publicAPI.disabled
  actions=publicAPI.actions
  trigger=(component triggerComponent
    tagName="md-menu"
    dropdown=(readonly publicAPI)
    hPosition=(readonly hPosition)
    onFocus=(action "handleFocus")
    renderInPlace=(readonly renderInPlace)
    vPosition=(readonly vPosition)
    tabindex=-1
  )
  content=(component "paper-menu-content"
    dropdown=(readonly publicAPI)
    destination=(readonly destination)
    hPosition=(readonly hPosition)
    renderInPlace=(readonly renderInPlace)
    vPosition=(readonly vPosition)
    top=(readonly top)
    left=(readonly left)
    right=(readonly right)
    width=(readonly width)
    transform=transform
    transformOrigin=transformOrigin
  )
)}}
--}}

{{#with
  (hash
    uniqueId=this.publicAPI.uniqueId
    isOpen=this.publicAPI.isOpen
    disabled=this.publicAPI.disabled
    actions=this.publicAPI.actions
    trigger=(component
      (or @triggerComponent "basic-dropdown-trigger")
      htmlTag="md-menu"
      dropdown=(readonly this.publicAPI)
      hPosition=(readonly this.hPosition)
      renderInPlace=(readonly this.renderInPlace)
      vPosition=(readonly this.vPosition)
    )
    content=(component
      (or @contentComponent "basic-dropdown-content")
      dropdown=(readonly this.publicAPI)
      hPosition=(readonly this.hPosition)
      renderInPlace=(readonly this.renderInPlace)
      preventScroll=(readonly @preventScroll)
      rootEventType=(or @rootEventType "click")
      vPosition=(readonly this.vPosition)
      destination=(readonly this.destination)
      top=(readonly this.top)
      left=(readonly this.left)
      right=(readonly this.right)
      width=(readonly this.width)
      height=(readonly this.height)
      otherStyles=(readonly this.otherStyles)
    )
  )
as |api|
}}
  {{#if this.renderInPlace}}
    <div class="ember-basic-dropdown" ...attributes>{{yield api}}</div>
  {{else}}
    {{yield api}}
  {{/if}}
{{/with}}