<div class="_md-slider-wrapper">
  <div class="_md-slider-content">
    <div class="_md-track-container">
      <div class="_md-track"></div>
      <div class="_md-track _md-track-fill" style={{activeTrackStyle}}></div>
      <div class="_md-track-ticks"></div>
    </div>
    <div class="_md-thumb-container" style={{thumbContainerStyle}}>
      <div class="_md-thumb" style="touch-action: none"></div>
      <div class="_md-focus-thumb"></div>
      <div class="_md-focus-ring"></div>
      <div class="_md-sign">
        <span class="_md-thumb-text">{{value}}</span>
      </div>
      <div class="_md-disabled-thumb"></div>
    </div>
  </div>
</div>
