body {
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  font-size: 14px;
}

.md-button {
  margin: 1em;
  line-height: 25px;
}

.md-button:not(.md-fab) {
  min-width: 10em;
}

.preview-block {
  background: #f5f5f5;
  padding: 20px;
}

/* LISTS */
.paper-list-inline {
  list-style  : none;
  margin-left : -5px;
  padding-left: 0;
}

.paper-list-inline > li {
  display      : inline-block;
  padding-left : 5px;
  padding-right: 5px;
}
