<ul class="ember-power-select-options md-autocomplete-suggestions" role="listbox">
  <li class="ember-power-select-option ember-power-select-option--no-matches-message md-autocomplete-suggestion" role="option" {{on "click" @onCreate}}>
    {{@noMatchesMessage}}
  </li>
</ul>