{{#paper-nav-container open=drawerOpen classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="ember-logo-white.png" height="30"/>&nbsp;&nbsp;<strong>Paper</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#paper-list}}
        {{#paper-item action="transitionTo" param="index"}}Introduction{{/paper-item}}
        {{#paper-item action="transitionTo" param="sidenav"}}Sidenav{{/paper-item}}
        {{#paper-item action="transitionTo" param="typography"}}Typography{{/paper-item}}
        {{#paper-item action="transitionTo" param="list"}}List{{/paper-item}}
        {{#paper-item action="transitionTo" param="list-controls"}}List Controls{{/paper-item}}
        {{#paper-item action="transitionTo" param="progress-linear"}}Progress Linear{{/paper-item}}
        {{#paper-item action="transitionTo" param="divider"}}Divider{{/paper-item}}
        {{#paper-item action="transitionTo" param="card"}}Card{{/paper-item}}
        {{#paper-item action="transitionTo" param="button"}}Button{{/paper-item}}
        {{#paper-item action="transitionTo" param="checkbox"}}Checkbox{{/paper-item}}
        {{#paper-item action="transitionTo" param="switch"}}Switch{{/paper-item}}
        {{#paper-item action="transitionTo" param="slider"}}Slider{{/paper-item}}
        {{#paper-item action="transitionTo" param="radio"}}Radio{{/paper-item}}
        {{#paper-item action="transitionTo" param="input"}}Input{{/paper-item}}
        {{#paper-item action="transitionTo" param="toolbar"}}Toolbar{{/paper-item}}
        {{#paper-item action="transitionTo" param="icons"}}Icons{{/paper-item}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
