{{#paper-sidenav}}
    {{#paper-drawer}}

      <h1 class="logo">Ember Paper</h1>
      <nav class="sidenav-nav">
        <ul>
          <li>{{#link-to 'checkboxes'}}Checkboxes{{/link-to}}</li>
          <li>{{#link-to 'toggles'}}Toggles{{/link-to}}</li>
        </ul>
      </nav>

    {{/paper-drawer}}
    {{#paper-content}}

      {{outlet}}

    {{/paper-content}}
  {{/paper-sidenav}}
