{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2"}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="ember-logo-white.png" height="30"/>&nbsp;&nbsp;<strong>Paper</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-sidenav-toggle}}
      TOGGLE SIDENAV
    {{/paper-sidenav-toggle}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
        <li>{{#link-to "index"}}Introduction{{/link-to}}</li>
          <li>{{#link-to "navigation"}}Navigation{{/link-to}}</li>
          <li>{{#link-to "typography"}}Typography{{/link-to}}</li>
          <li>{{#link-to "list"}}List{{/link-to}}</li>
          <li>{{#link-to "divider"}}Divider{{/link-to}}</li>
          <li>{{#link-to "button"}}Button{{/link-to}}</li>
          <li>{{#link-to "checkbox"}}Checkbox{{/link-to}}</li>
          <li>{{#link-to "switch"}}Switch{{/link-to}}</li>
          <li>{{#link-to "radio"}}Radio{{/link-to}}</li>
          <li>{{#link-to "textfield"}}Text Field{{/link-to}}</li>
          <li>{{#link-to "toolbar"}}Toolbar{{/link-to}}</li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex="true"}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
