{{#paper-sidenav}}
  {{#paper-drawer}}
    <h1 class="logo"><img src="ember-logo.png" height="30"/>&nbsp;&nbsp;<strong>Paper</strong></h1>
    {{#paper-content}}
      <nav class="sidenav-nav">
        <ul>
        <li>{{#link-to "index"}}Introduction{{/link-to}}</li>
          <li>{{#link-to "navigation"}}Navigation{{/link-to}}</li>
          <li>{{#link-to "typography"}}Typography{{/link-to}}</li>
          <li>{{#link-to "list"}}Lists{{/link-to}}</li>
          <li>{{#link-to "divider"}}Dividers{{/link-to}}</li>
          <li>{{#link-to "button"}}Button{{/link-to}}</li>
          <li>{{#link-to "checkbox"}}Checkbox{{/link-to}}</li>
          <li>{{#link-to "toggle"}}Toggle{{/link-to}}</li>
          <li>{{#link-to "radio"}}Radio{{/link-to}}</li>
          <li>{{#link-to "textfield"}}Text Field{{/link-to}}</li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-drawer}}
  {{#paper-content classNames="sidenav-static-content"}}
    {{outlet}}
  {{/paper-content}}
{{/paper-sidenav}}
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
