{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Autocomplete</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
  <div class="doc-content">

      <h3>Basic Usage</h3>

    {{#paper-autocomplete items=items lookupKey="name" identifier="code" model=myModel as |autocomplete|}}
    {{/paper-autocomplete}}
    <p>Selected country is
      {{#if myModel}}
        {{myModel.name}}
          ({{myModel.code}})
      {{else}}
        Nothing selected...
      {{/if}}
    </p>
  </div>
{{/paper-content}}
