{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle" references="main-sidebar"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Buttons</span>
  </h2>
{{/paper-toolbar}}
{{#paper-content classNames="md-padding demo-buttons"}}
<div class="doc-content">
  <p>
    {{#paper-button action="flatButton"}}Button with action{{/paper-button}}
    {{#paper-button noink=true classNames="md-primary"}}Primary (noink){{/paper-button}}
    {{#paper-button disabled=true}}disabled{{/paper-button}}
    {{#paper-button classNames="md-warn"}}warn{{/paper-button}}
  </p>
  <p>
    {{#paper-button raised=true action="raisedButton"}}Button with action{{/paper-button}}
    {{#paper-button raised=true classNames="md-primary"}}Primary{{/paper-button}}
    {{#paper-button raised=true disabled=true}}disabled{{/paper-button}}
    {{#paper-button raised=true classNames="md-warn"}}warn{{/paper-button}}
  </p>
  {{#custom-button}}
  <p>
    {{#paper-button raised=true action="targetButton" target=component}}Button with target{{/paper-button}}
    {{#paper-button raised=true classNames="md-primary" action="targetButton" target=component}}Button with bubble{{/paper-button}}
    {{#paper-button raised=true classNames="md-primary" action="targetButton" target=component bubbles=false}}Button no bubble{{/paper-button}}
  </p>
  <p>
    {{#paper-button classNames="md-icon-button"}}{{paper-icon icon="more-vert"}}{{/paper-button}}
  </p>
  {{/custom-button}}
  <p>
    {{paper-button raised=true label="Blockless version"}}
  </p>
  <h3>Template</h3>
  {{#code-block language='handlebars'}}
  &lt;p&gt;
    \{{#paper-button action="flatButton"}}Button with action\{{/paper-button}}
    \{{#paper-button noink=true classNames="md-primary"}}Primary (noink)\{{/paper-button}}
    \{{#paper-button disabled=true}}disabled\{{/paper-button}}
    \{{#paper-button classNames="md-warn"}}warn\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{#paper-button raised=true action="raisedButton"}}Button with action\{{/paper-button}}
    \{{#paper-button raised=true classNames="md-primary"}}Primary\{{/paper-button}}
    \{{#paper-button raised=true disabled=true}}disabled\{{/paper-button}}
    \{{#paper-button raised=true classNames="md-warn"}}warn\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{#paper-button raised=true action="targetButton" target=component}}Button with target\{{/paper-button}}
    \{{#paper-button raised=true classNames="md-primary" action="targetButton" target=component}}Button with bubble\{{/paper-button}}
    \{{#paper-button raised=true classNames="md-primary" action="targetButton" target=component bubbles=false}}Button no bubble\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{paper-button raised=true label="Blockless version"}}
  &lt;/p&gt;{{/code-block}}
</div>
{{/paper-content}}
