{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button onClick=(action "toggleMenu" target=toggle) iconButton=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Card</span>
    </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
<div class="doc-content">
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      </div>
    {{/paper-card}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      </div>

    {{/paper-card}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      </div>

    {{/paper-card}}
  {{/paper-content}}


  <h3>Template</h3>
  {{#code-block language='handlebars'}}
  \{{#paper-card}}
    &lt;img src="washedout.png" alt="Washed Out"&gt;
    \{{#paper-card-content}}
      &lt;h2&gt;Paracosm&lt;/h2&gt;
      &lt;p&gt;
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      &lt;/p&gt;
    \{{/paper-card-content}}
    &lt;div class="md-actions" layout="row" layout-align="end center"&gt;
      \{{#paper-button}}Action 1\{{/paper-button}}
      \{{#paper-button}}Action 2\{{/paper-button}}
    &lt;/div&gt;
  \{{/paper-card}}{{/code-block}}
</div>
{{/paper-content}}
