{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Card</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
    {{/paper-card}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
    {{/paper-card}}
    {{#paper-card}}
      <img src="washedout.png" alt="Washed Out">
      {{#paper-card-content}}
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/paper-card-content}}
    {{/paper-card}}
  {{/paper-content}}


  <h3>Template</h3>
  <pre>
  \{{#paper-card}}
    &lt;img src="washedout.png" alt="Washed Out"&gt;
    \{{#paper-card-content}}
      &lt;h2&gt;Paracosm&lt;/h2&gt;
      &lt;p&gt;
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      &lt;/p&gt;
    \{{/paper-card-content}}
  \{{/paper-card}}
  </pre>
</div>
{{/paper-content}}
