<h1>Check Boxes</h1>

{{#paper-checkbox checked=value}}A checkbox: {{value}}{{/paper-checkbox}}

{{#paper-checkbox disabled=true}}Checkbox (disabled){{/paper-checkbox}}

{{#paper-checkbox disabled=true checked=true}}
  Checkbox (disabled and checked)
{{/paper-checkbox}}

{{#paper-checkbox noink=true}}Checkbox (no ink){{/paper-checkbox}}
