{{page-toolbar pageTitle="Cookbook" isDemo=false}}

{{#paper-content class="md-padding"}}
  <div class="doc-content">
    <h3>Hiding the <code>\{{paper-input}}</code> character counts</h3>
    <p>
      Material Design <a href="https://material.google.com/components/text-fields.html#text-fields-character-counter">requires that a character count is displayed</a> for input elements which have a length restriction. However, when forms have many input elements, some may prefer to display the count only when the element is focused or invalid. This CSS achieves this.
    </p>
    {{code-snippet name="cookbook.no-char-count.scss"}}
    <h3>Recipe contributions</h3>
    <p>
      Have a great tip or solution for <code>ember-paper</code>? <a href="https://github.com/miguelcobain/ember-paper/pulls">Submit a pull request</a> on GitHub or discuss it with the team on <a href="https://discord.gg/zT3asNS"> Discord #e-paper</a> for inclusion here.
    </p>
  </div>
{{/paper-content}}
