{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Material icons</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding icon-demo"}}

  <h3>Template</h3>
  <pre>
    \{{paper-icon icon="check"}}
  </pre>

  <div>
    {{#each icon in icons}}
      <div class="icon-tile">
        {{paper-icon icon=icon}}
        <p>{{icon}}</p>
      </div>
    {{/each}}
  </div>

{{/paper-content}}
