<h3>Introduction <small>Welcome to Ember Paper.</small></h3>
<p><br>This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember. The goal is to encapsulate everything possible in Ember components. This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.</p>

<h3>Installation</h3>
<p>Install the ember-cli addon in your ember-cli project:</p>
<div class="preview-block">
  <pre style="margin:0">$ npm install --save-dev ember-paper</pre>
  <pre style="margin:0">$ ember g ember-paper</pre>
</div>
<p>All the components and styles are ready to use in your application templates.</p>
<p>Navigate through the docs to understand how to use each component.</p>

<h3>Contribution</h3>
<p><p>This is a very ambitious project. Google's design specs are extensive, and not trivial to implement. <strong>ember-paper</strong> is heavily based on <a href="https://github.com/angular/material">Angular Material</a> and <a href="https://github.com/google/web-starter-kit/tree/material-sprint">Web Starter Kit (material-sprint branch)</a>. These seem to be the most useful resources at the moment. If you feel like porting or fixing an element or two, please drop a pull request or issue at GitHub!</p>
<p>I believe that with the help of everyone we can bring these amazing design spec to Ember in a modular and robust way. The Ember way. </p>
<p>
<strong>Help us on Github!</strong>
<!-- Place this tag where you want the button to render. -->
</p>
<p>
<a class="github-button" href="https://github.com/miguelcobain/ember-paper" data-style="mega" data-count-href="/miguelcobain/ember-paper/network" data-count-api="/repos/miguelcobain/ember-paper#forks_count">Fork</a>
</p>
