<div class="hero hero--indigo">
  <div>
    <h2 class="md-headline" style="margin-top: 24px;">Welcome to Ember Paper.</h2>
    <p>
      This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember.
      The goal is to encapsulate everything possible in Ember components.
      This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.
    </p>
  </div>
</div>

<div class="hero">
  <div>
    <h2 class="md-headline">Installation</h2>

    <p>
      To install run:
    </p>
    <pre>
      $ ember install ember-paper
    </pre>

    <p>This should also automatically create an scss file under <code>app/styles/app.scss</code> with <code>@import 'ember-paper';</code> and install <code>ember-cli-sass</code>.</p>
    <p>Sass is an important part of Ember-paper. Using sass you can override default variables and easily change the default behavior of Ember-paper.</p>

    <PaperButton @raised={{true}} @primary={{true}} @href={{href-to "components"}}>
      Explore the components
    </PaperButton>
  </div>
</div>

<div class="hero hero--orange">
  <div>
    <h2 class="md-headline">Contribution</h2>
    <p>This is a very ambitious project. Google's design specs are extensive, and non-trivial to implement. If you can port or fix a component or two, please drop a pull request or issue on GitHub or join us on Discord. See README.md for more resources.</p>
    <p>With everyone's help, we can bring this amazing design spec to Ember in a modular and elegant way. The Ember way.</p>
    <p>
      <strong><a href="https://github.com/miguelcobain/ember-paper">Help us on Github!</a></strong>
    </p>
  </div>
</div>
