{{#paper-toolbar}}
  <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle target="sidenav"}}
        {{#paper-button icon-button=true class="hide-gt-xs"}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
      <span class="md-breadcrumb-page">Introduction</span>
  </div>
{{/paper-toolbar}}
{{#paper-content flex=true scroll-y=true layout-padding=true}}
<div class="doc-content">
  <h2 class="md-headline" style="margin-top: 0;">Welcome to Ember Paper.</h2>
  <p>This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember. The goal is to encapsulate everything possible in Ember components. This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.</p>

  <h2 class="md-headline">Installation</h2>

  <p>Install the ember-cli addon in your ember-cli project:</p>

  {{#code-block language='bash'}}$ ember install ember-paper{{/code-block}}

  <p>This should also automatically create an scss file under {{#code-inline}}app/styles/app.scss{{/code-inline}} with {{#code-inline}}@import 'ember-paper';{{/code-inline}} and install {{#code-inline}}ember-cli-sass{{/code-inline}}.</p>
  <p>Sass is an important part of Ember-paper. Using sass you can override default variables and easily change the default behavior of Ember-paper.</p>

  <p>All the components and styles are ready to use in your application templates.</p>
  <p>Navigate through the docs to understand how to use each component.</p>

  <h2 class="md-headline">Content Security Policy</h2>

  <p>Ember Paper uses fonts from Google Fonts, so the URL to them has to be white listed.  You can set this by adding to the Content Security Policy defined in {{#code-inline}}config/environment.js{{/code-inline}} like so:</p>

  {{#code-block language='javascript'}}ENV.contentSecurityPolicy = {
  'default-src': "'none'",
  'script-src': "'self'",
  'font-src': "'self' http://fonts.gstatic.com",
  'connect-src': "'self'",
  'img-src': "'self' data:",
  'media-src': "'self'"
}{{/code-block}}

  <p>You can find out more information on the CSP addon page <a href="https://github.com/rwjblue/ember-cli-content-security-policy#ember-cli-content-security-policy">here</a>.</p>
  <p>We also need to allow `data:` in `img-src` because of a <a href="https://github.com/miguelcobain/ember-paper/blob/master/app%2Fstyles%2Fpaper-button.scss">current hack</a> in paper-button.</p>

  <h2 class="md-headline">Contribution</h2>
  <p>This is a very ambitious project. Google's design specs are extensive, and not trivial to implement. <strong>ember-paper</strong> is heavily based on <a href="https://github.com/angular/material">Angular Material</a> and <a href="https://github.com/google/web-starter-kit/tree/material-sprint">Web Starter Kit (material-sprint branch)</a>. These seem to be the most useful resources at the moment. If you feel like porting or fixing an element or two, please drop a pull request or issue at GitHub!</p>
  <p>I believe that with the help of everyone we can bring these amazing design spec to Ember in a modular and robust way. The Ember way. </p>
  <p>
    <strong>Help us on Github!</strong>
    <!-- Place this tag where you want the button to render. -->
  </p>
  <p>
    <a class="github-button" href="https://github.com/miguelcobain/ember-paper" data-style="mega" data-count-href="/miguelcobain/ember-paper/network" data-count-api="/repos/miguelcobain/ember-paper#forks_count">Fork</a>
  </p>
</div>
{{/paper-content}}
