{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Radio Buttons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
<div class="doc-content">
  <div layout layout-sm="column">
    <div flex>{{#paper-radio onChange=(action "foo")}}A radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio toggle=true value="123" groupValue=toggleValue onChange=(action (mut toggleValue))}}Toggable radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio disabled=true onChange=(action "foo")}}Disabled radio button{{/paper-radio}}</div>
  </div>

  <h3>Radio Button Group</h3>

  {{#paper-radio-group groupValue=groupValue onChange=(action (mut groupValue)) as |group|}}
    {{#group.paper-radio value="1" primary=true}}
      Radio button 1
    {{/group.paper-radio}}
    {{#group.paper-radio value="2" warn=true}}
      Radio button 2
    {{/group.paper-radio}}
    {{#group.paper-radio value="3"}}
      Radio button 3
    {{/group.paper-radio}}
  {{/paper-radio-group}}

  <p>Selected value: {{selectedValue}}</p>

  <p>{{paper-radio toggle=true label="Blockless version" onChange=(action "foo")}}</p>

  <h3>Template</h3>
{{#code-block language='handlebars'}}

\{{#paper-radio-group groupValue=groupValue onChange=(action (mut groupValue)) as |group|}}
  \{{#group.paper-radio value="1" primary=true}}
    Radio button 1
  \{{/group.paper-radio}}
  \{{#group.paper-radio value="2" warn=true}}
    Radio button 2
  \{{/group.paper-radio}}
  \{{#group.paper-radio value="3"}}
    Radio button 3
  \{{/group.paper-radio}}
\{{/paper-radio-group}}

\{{paper-radio toggle=true label="Blockless version" onChange=(action "foo")}}

{{~/code-block}}
</div>
{{/paper-content}}
