{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Radio Buttons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
<div class="doc-content">
  <div layout layout-sm="column">
    <div flex>{{#paper-radio}}A radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio toggle=true}}Toggable radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio disabled=true}}Disabled radio button{{/paper-radio}}</div>
  </div>
  <h3>Radio Button Group</h3>
  <div layout layout-sm="column">
    <div flex>{{#paper-radio value="1" selected=selectedValue}}Radio button 1{{/paper-radio}}</div>
    <div flex>{{#paper-radio value="2" selected=selectedValue}}Radio button 2{{/paper-radio}}</div>
    <div flex>{{#paper-radio value="3" selected=selectedValue changed="alertValue"}}Radio button 3{{/paper-radio}}</div>
  </div>
  <p>Selected value: {{selectedValue}}</p>

  <p>{{paper-radio toggle=true label="Blockless version"}}</p>

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-radio}}A radio button\{{/paper-radio}}
\{{#paper-radio toggle=true}}Toggable radio button\{{/paper-radio}}
\{{#paper-radio disabled=true}}Disabled radio button\{{/paper-radio}}

\{{#paper-radio value="1" selected=selectedValue}}Radio button 1\{{/paper-radio}}
\{{#paper-radio value="2" selected=selectedValue}}Radio button 2\{{/paper-radio}}
\{{#paper-radio value="3" selected=selectedValue changed="alertValue"}}Radio button 3\{{/paper-radio}}

\{{paper-radio toggle=true label="Blockless version"}}{{/code-block}}
</div>
{{/paper-content}}
