{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle" references="main-sidebar"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Sidenav</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  <p>Try to resize this webpage.</p>
  <h3>Template</h3>
{{#code-block language='handlebars'}}\{{#paper-nav-container open=drawerOpen classNames="ember-app"}}

  \{{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    \{{#paper-toolbar}}
      &lt;div class="md-toolbar-tools"&gt;
        &lt;div class="logo"&gt;
          &lt;img src="ember-logo-white.png" height="30"/&gt;&nbsp;&nbsp;&lt;strong&gt;Paper&lt;/strong&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    \{{/paper-toolbar}}

    \{{#paper-content}}

      \{{#paper-list}}
        \{{#paper-item action="transitionTo" param="index"}}Introduction\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="sidenav"}}Sidenav\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="typography"}}Typography\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="list"}}List\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="list-controls"}}List Controls\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="divider"}}Divider\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="card"}}Card\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="button"}}Button\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="checkbox"}}Checkbox\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="switch"}}Switch\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="slider"}}Slider\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="radio"}}Radio\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="textfield"}}Text Field\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="toolbar"}}Toolbar\{{/paper-item}}
        \{{#paper-item action="transitionTo" param="icons"}}Icons\{{/paper-item}}
      \{{/paper-list}}

    \{{/paper-content}}
  \{{/paper-sidenav}}

  \{{#paper-content flex-layout="column" flex=true}}
    \{{outlet}}
  \{{/paper-content}}

\{{/paper-nav-container}}{{/code-block}}
</div>
{{/paper-content}}
