{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    <span>Switches</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
  <p>
    {{#paper-switch checked=booleanProp1}} {{booleanProp1}} {{/paper-switch}}
    {{#paper-switch checked=booleanProp2}} {{booleanProp2}} {{/paper-switch}}
    {{#paper-switch disabled=true}} Disabled switch {{/paper-switch}}
    {{#paper-switch noink=true}} Noink switch {{/paper-switch}}
  </p>
  <h3>Template</h3>
  <pre>
    \{{#paper-switch checked=booleanProp1}} \{{booleanProp1}} \{{/paper-switch}}

    \{{#paper-switch checked=booleanProp2}} \{{booleanProp2}} \{{/paper-switch}}

    \{{#paper-switch disabled=true}} Disabled switch \{{/paper-switch}}

    \{{#paper-switch noink=true}} Noink switch \{{/paper-switch}}
  </pre>
{{/paper-content}}
