{{paper-tabs}}

<h2>paper-tabs</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bottom</td>
      <td>boolean</td>
      <td>Align tabs to bottom</td>
    </tr>
  </tbody>
</table>
