<h3>Toggle</h3>
<p>
  {{#paper-toggle value=booleanProp1}} {{booleanProp1}} {{/paper-toggle}}
  {{#paper-toggle value=booleanProp2}} {{booleanProp2}} {{/paper-toggle}}
  {{#paper-toggle disabled=true}} Disabled toggle {{/paper-toggle}}
  {{#paper-toggle noink=true}} Noink toggle {{/paper-toggle}}
</p>
<h3>Template</h3>
<pre>
  \{{#paper-toggle value=booleanProp1}} \{{booleanProp1}} \{{/paper-toggle}}

  \{{#paper-toggle value=booleanProp2}} \{{booleanProp2}} \{{/paper-toggle}}

  \{{#paper-toggle disabled=true}} Disabled toggle \{{/paper-toggle}}
  
  \{{#paper-toggle noink=true}} Noink toggle \{{/paper-toggle}}
</pre>
