<h1>Toggles</h1>

{{#paper-toggle value=booleanProp1}} {{booleanProp1}} {{/paper-toggle}}

{{#paper-toggle value=booleanProp2}} {{booleanProp2}} {{/paper-toggle}}

{{#paper-toggle disabled=true}} Disabled toggle {{/paper-toggle}}

{{#paper-toggle noink=true}} Noink toggle {{/paper-toggle}}

