{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Toolbars</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
<div class="doc-content">
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-button}}Example button{{/paper-button}}
      {{#paper-button}}Example button{{/paper-button}}
    </div>
  {{/paper-toolbar}}

  <p>"md-toolbar-tools" is a class that centers your elements in the toolbar.</p>

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-toolbar}}
  &lt;div class="md-toolbar-tools"&gt;
    \{{#paper-button}}Example button\{{/paper-button}}
    \{{#paper-button}}Example button\{{/paper-button}}
  &lt;/div&gt;
\{{/paper-toolbar}}{{/code-block}}
</div>
{{/paper-content}}
