{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Toolbars</span>
  </h2>
{{/paper-toolbar}}
{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-button}}Example button{{/paper-button}}
      {{#paper-button}}Example button{{/paper-button}}
    </div>
  {{/paper-toolbar}}

  <p>"md-toolbar-tools" is a class that centers your elements in the toolbar.</p>

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-toolbar}}
  &lt;div class="md-toolbar-tools"&gt;
    \{{#paper-button}}Example button\{{/paper-button}}
    \{{#paper-button}}Example button\{{/paper-button}}
  &lt;/div&gt;
\{{/paper-toolbar}}{{/code-block}}
</div>
{{/paper-content}}
