{{page-toolbar pageTitle="Typography" isDemo=false}}

{{#paper-content class="md-padding"}}
  <div class="doc-content">
    <h3>Headings</h3>
    <div class="preview-block">
      <h1>&lt;h1&gt;</h1>
      <h2>&lt;h2&gt;</h2>
      <h3>&lt;h3&gt;</h3>
      <h4>&lt;h4&gt;</h4>
      <h5>&lt;h5&gt;</h5>
      <h6>&lt;h6&gt;</h6>
    </div>

    <h3>Formatting</h3>
    <div class="preview-block">
      <p><u>&lt;u&gt;Underlined&lt;/u&gt;</u></p>

      <p><b>&lt;b&gt;Bold&lt;/b&gt;</b></p>

      <p><strong>&lt;strong&gt;Strong&lt;/strong&gt;</strong></p>

      <p><i>&lt;italic&gt;Italic&lt;/italic&gt;</i></p>

      <p><em>&lt;em&gt;Em&lt;/em&gt;</em></p>

      <p><s>&lt;s&gt;Strikethrough&lt;/s&gt;</s></p>

      <p><small>&lt;small&gt;Small&lt;/small&gt;</small></p>

      <p><mark>&lt;mark&gt;Mark&lt;/mark&gt;</mark></p>
    </div>

    <h3>Subtitles</h3>
    <div class="preview-block">
      <h1>&lt;h1&gt; <small>Subtitle</small></h1>
      <h2>&lt;h2&gt; <small>Subtitle</small></h2>
      <h3>&lt;h3&gt; <small>Subtitle</small></h3>
      <h4>&lt;h4&gt; <small>Subtitle</small></h4>
      <h5>&lt;h5&gt; <small>Subtitle</small></h5>
      <h6>&lt;h6&gt; <small>Subtitle</small></h6>
    </div>

    <h3>Description</h3>
    <div class="preview-block">
      <dl>
        <dt>Description lists</dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>Euismod</dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        <dt>Malesuada porta</dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      </dl>
    </div>

    <h3>Quotes</h3>
    <div class="preview-block">
      <blockquote>&lt;blockquote&gt;</blockquote>
    </div>

    <h2>Addresses</h2>

    <address>
      <strong>Googleplex</strong><br>
      1600 Amphitheatre Pkwy<br>
      Mountain View, CA 94043<br>
      <abbr title="Phone">P:</abbr> (650) 253-0000
    </address>

    <h2>Code</h2>

    <h3>Multi-line code blocks</h3>
    <p>
      Use &lt;pre&gt; for multi-line code blocks.
      {{code-snippet name="typography.code-block.hbs"}}
    </p>

    <h3>Inline code blocks</h3>
    <p>Code blocks like <code>&lt;main&gt;</code> could be displayed inline.</p>

    <h2>Tables</h2>

    <h3>Basic table</h3>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Larry</td>
          <td>Page</td>
          <td>+LarryPage</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Sergey</td>
          <td>Brin</td>
          <td>+SergeyBrin</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Eric</td>
          <td>Schmidt</td>
          <td>+EricSchmidt</td>
        </tr>
      </tbody>
    </table>
  </div>
{{/paper-content}}
