$sidenav-default-width: 304px !default;
$sidenav-min-space: 56px !default;
$locked-breakpoint: 850px;

// NOT PORTED FROM ANGULAR MATERIAL

md-sidenav {
  width: $sidenav-default-width;
  min-width: $sidenav-default-width;
  max-width: $sidenav-default-width;

  z-index: $z-index-sidenav;
  background-color: white;
  overflow: auto;
  flex-direction: column;

  position:fixed;
  top:0;
  bottom:0;

  transition-duration: $swift-ease-in-duration;
  transition-timing-function: $swift-ease-in-timing-function;

  &.md-sidenav-left{
    left:0;
    transition-property: left;
  }

  &.md-sidenav-right{
    right:0;
    transition-property: right;
  }

  //revert to normal flex layout when locked
  @media screen and (min-width: $locked-breakpoint) {
    display: flex;
    position: relative;
  }

}

md-sidenav-toggle {
  &:hover {
    cursor: pointer;
  }

  //hide toggle when locked
  @media screen and (min-width: $locked-breakpoint) {
    display: none;
  }
}

md-nav-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &.sidenav-expanded{
    md-sidenav{
      &.md-sidenav-left{
        left:-$sidenav-default-width;
      }

      &.md-sidenav-right{
        right:-$sidenav-default-width;
      }
    }
  }
}
