md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
  line-height: 3 * $baseline-grid;
}
