$radio-width: 16px;
$radio-height: $radio-width;

md-radio-button,
.md-switch-thumb { // Used in switch
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer;

  input {
    display: none;
  }

  .md-container {
    position: relative;
    top: 4px;
    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    cursor: pointer;

    .md-ripple-container {
      position: absolute;
      display: block;
      width: $radio-width * 3;
      height: $radio-width * 3;
      left: -$radio-width;
      top: -$radio-width;
    }
  }


  .md-off {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $radio-width;
    height: $radio-width;
    border: solid 2px;
    border-radius: 50%;
    transition: border-color ease 0.28s;
  }

  .md-on {
    position: absolute;
    top: 0;
    left: 0;
    width: $radio-width;
    height: $radio-width;
    border-radius: 50%;
    transition: transform ease 0.28s;
    transform: scale(0);
  }

  &.md-checked .md-on {
    transform: scale(0.55);
  }

  .md-label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    width: auto;
  }

  .circle {
    border-radius: 50%;
  }

}
md-radio-group {
  border: 1px dotted transparent;
  display: block;
  outline: none;
}

//THEME
$radio-color-palette: $color-green !default;
$radio-on-background-color: rgba(map-get($radio-color-palette, '400'), 0.87) !default;
$radio-ripple-color: map-get($radio-color-palette, '600') !default;
$radio-off-border-color: $foreground-secondary-color !default;
$radio-group-focus-border-color: $foreground-primary-color !default;
$checkbox-disabled-border-color: $input-disabled-border-color !default;

md-radio-button.md-#{$theme-name}-theme,
md-switch.md-#{$theme-name}-theme .md-switch-thumb {
  .md-container .md-ripple {
    color: $radio-ripple-color;
  }

  .md-off {
    border-color: $radio-off-border-color;
  }


  .md-on {
    background-color: $radio-on-background-color;
  }

  &.md-checked .md-off {
    border-color: $radio-on-background-color;
  }

  &.md-checked .md-ink-ripple {
    color: $radio-on-background-color;
  }

  &[disabled] .md-off {
    border-color: $checkbox-disabled-border-color;
  }

  &[disabled] .md-on {
    background-color: $checkbox-disabled-border-color;
  }

}

md-radio-group.md-#{$theme-name}-theme:focus {
  border-color: $radio-group-focus-border-color;
}
